:root {
	--container-width: 1190px;
	--container-padding: 15px;

	--font-main: 'Rubik', sans-serif;
	--font-accent: 'Inter', serif;
	--font-second:'Noto Music', sans-serif;
	--page-bg: #fff;
	--text-color: #fff;
	--text-color-gray: #F6F6F680;
	--accent: #ac182c;
	--orange:#F79C1B;
	--black:black;
	--font-size: 16px;
	--background:#515151;
	--gray:#1A1A1A80;
	--gray-light: #EBEBEB;
	--gray-opacity: rgba(235, 235, 235,0.5); 
    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}