.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--orange);
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid var(--orange);
    transition: color 0.2s ease-in, background-color 0.2s ease-in;

    &:hover{
        background-color: var(--orange);
        color: #fff;
    }

    &_bg{
        background-color: var(--orange);
        color: #fff;

        &:hover{
            background-color: #c77e19;
        }
    }

    @media (max-width: 1000px) {
		font-size: 16px;
	}
}
