.footer-static {
	background-color: var(--background);
	padding: 35px 0 50px;
	font-size: 32px;
    color: #fff;
	position: static;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 1;

	&__logo {
		display: flex;
		flex-direction: column;

		@media (max-width: 500px) {
			flex: 0 0 50%;
		}		
	}

	&__title {
		font-size: 43px;
		font-weight: 600;
		color: var(--orange);

		@media (max-width: 800px) {
			font-size: 30px;
		}

		@media (max-width: 500px) {
			line-height: 0.8;
			margin-bottom: 8px;
		}	
	}

	&__text {
		font-size: 12px;
		font-weight: 300;
	}
	&__content {
		display: flex;
		gap: 40px;
		justify-content: space-between;

		@media (max-width: 800px) {
			gap: 20px;
		}

		@media (max-width: 500px) {
			display: flex;
			flex-wrap: wrap;
		}
		@media (max-width: 340px) {
			margin-bottom: 70px;
		}
	}

	&__items{
		display: flex;
		gap: 100px;

		@media (max-width: 800px) {
			gap: 50px;
		}

		@media (max-width: 500px) {
			gap: 20px;
			order: 3;
			flex: 1 0 100%;
			justify-content: center;
			text-align: center;
		}

		@media (max-width: 400px) {
			gap: 10px;
			order: 3;
			flex: 1 0 100%;
			justify-content: center;
			text-align: center;
		}
	}

	&__btn{
		font-size:16px;
		border:1px solid var(--orange);
		color:var(--orange);
		padding: 6px 22px;
		background-color:transparent;
		align-self: flex-start;
		transition: color 0.3s ease-in, background-color 0.3s ease-in;
		&:hover{
			background-color: var(--orange);
			color: #fff;
		}

		@media (max-width: 800px) {
			padding: 6px 10px;
		}

		@media (max-width: 700px) {
			font-size: 14px;
		}

		@media (max-width: 400px) {
			order: 2;
			padding: 3px 11px;
			font-size: 12px;
		}
	}
    
	@media (max-width: 1200px) {
		font-size: 26px;
	}

	@media (max-width: 590px) {
		padding: 35px 0 120px;
	}

	@media (max-width: 500px) {
	
	}
}

.item-footer-static{

	&__title{
		font-size: 24px;
		font-weight: 300;
		line-height: 26px;

		&_nav{
			@media (max-width: 590px) {
				display: none;
			}
		}

		@media (max-width: 700px) {
			font-size: 18px;
		}
	}

	&__link{
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		transition:border-bottom 0.2s ease-in;
        cursor: pointer;
		
		&:hover{
			border-bottom: 1px solid var(--orange) !important;
		}

		@media (max-width: 700px) {
			font-size: 14px;
		}

		&_nav{
			@media (max-width: 590px) {
				display: none;
			}
			
		}
	}
}
