.header {
	background-color: rgba(0, 0, 0,0.6);
	padding: 30px 5vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;

		@media (max-width: 1150px) {
			gap: 20px;
		}

		@media (max-width: 1055px) {
			gap: 10px;
		}
	}

	@media (max-width: 1055px) {
		padding: 20px 3vw;
	}

	@media (max-width: 950px) {
		padding: 10px 0;
	}
}

.logo-text{
	display: flex;
	flex-direction: column;
	gap: 7px;

	&_orange{
		font-size: 43px;
		color: var(--orange);

		@media (max-width: 1150px) {
			font-size: 35px;
		}
	}

	&_gray{
		color: var(--text-color-gray);

		@media (max-width: 1150px) {
			font-size: 14px;
		}
	}
}
.nav-items{
	&__list{
		display: flex;
		align-items: center;
		gap: 30px;

		@media (max-width: 1150px) {
			gap: 10px;
		}
	}

	&__link{
		transition:border-bottom 0.3s ease;
		
		&:hover{
			border-bottom: 1px solid var(--orange);
		}
	}

	@media (max-width: 1005px) {
		display: none;
	}
}

.relationship{
	display:flex;
	gap: 28px;
	align-items: center;
	font-size: 14px;
	@media (max-width: 1150px) {
		gap: 17px;
	}

	@media (max-width: 1000px) {
		gap: 30px;
		font-size: 14px;
	}

	@media (max-width: 630px) {
		display: none;
	}
}
